<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../component/navbar') %>
  <title>Register</title>
  <link rel="stylesheet" href="css/Spinner.css">
  <link rel="stylesheet" href="css/backgrounImage.css">
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Righteous&display=swap');
    </style>
</head>
<body >
    <div class="container">  
      
      <div id="alertContainer" ></div>               

       <section >
        <div class="container m-0">
              
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col">   
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-6 d-none d-xl-block">
                        <img src="assets/background_doctor.png"
                          alt="Sample photo" class="img-fluid"
                          style="height: 100%;object-fit: cover;filter: grayscale(100%);
                          border-top-left-radius: .50rem; border-bottom-left-radius: .50rem;" />
                      </div>
                      <div id="spinnerContainer" class="spinner-container">
                        <div class="spinner"></div>
                      </div>
                      
                      <div class="col-xl-6">
                        <div class="card-body p-md-5 text-black ">
                            <div class="row">
                         <center> <h3 class="mb-2 pb-2 text-uppercase" style="font-family: 'Righteous', cursive;
                          ">ADMIN Register</h3></center>
                           </div>
                        <form id="registerForm" >
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="form-outline">
                                <input type="text" id="prenom" class="form-control form-control-lg" name="prenom" />
                                <label class="form-label" for="prenom">Prénom </label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="form-outline">
                                <input type="text" id="nom" class="form-control form-control-lg" name="nom" />
                                <label class="form-label" for="nom">Nom</label>
                              </div>
                            </div>
                          </div>
          
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="form-outline">
                                <input type="tele" id="tele" class="form-control form-control-lg" name="tele"/>
                                <label class="form-label" for="tele">Numéro Télé</label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="form-outline">
                                <input type="text" id="cni" class="form-control form-control-lg" name="cni" />
                                <label class="form-label" for="cni">CNI</label>
                              </div>
                            </div>
                          </div>
          
                       
          
                          <div class="d-md-flex justify-content-start align-items-center mb-2 py-2">
          
                            <h6 class="mb-0 ms-3">Gender : </h6>
          
                            <div class="form-check form-check-inline mb-0 ms-2">
                              <input class="form-check-input" type="radio" name="gender"  
                                value="Female" />
                              <label class="form-check-label" for="femaleGender">Female</label>
                            </div>
          
                            <div class="form-check form-check-inline mb-0 ms-2">
                              <input class="form-check-input" type="radio" name="gender" 
                                value="Male" />
                              <label class="form-check-label" for="maleGender">Male</label>
                            </div>
          
                            <div class="form-check form-check-inline mb-0">
                              <input disabled class="form-check-input" type="radio" name="gender"  
                                value="Other" />
                              <label class="form-check-label" for="otherGender">Other</label>
                            </div>
          
                          </div>

                          <div class="form-outline mb-3">
                            <input type="email" id="email" class="form-control form-control-lg" name="email" />
                            <label class="form-label" for="email">Email</label>
                          </div>
          
                          <div class="form-outline mb-2">
                            <input type="password" id="Password" class="form-control form-control-lg" name="password" />
                            <label class="form-label" for="Password">Password</label>
                          </div>
                          <div class="form-outline mb-2">
                            <input type="password" id="ConfirmPassword"  class="form-control form-control-lg" name="confpassword" />
                            <label class="form-label" for="ConfirmPassword">Password confirme</label>
                          </div>
                          <div style="margin-left: 8px; color: red;" id="CheckPasswordMatch"></div>
          
                          <div class="d-flex justify-content-end pt-3 ms-3">
                            <button type="" class="btn btn-light btn-lg">Reset all</button>
                            <button type="submit" class="btn btn-warning btn-lg ms-2">Register</button>
                          </div>
                        </form>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</body>
 <script  src="js/auth/register.js"></script>
</html>